{{- with .Params.readTime -}}
  {{- . -}}
{{- else -}}
  {{- $content := .Content -}}
  {{- $content = replaceRE `(?s)<pre[^>]*>.*?</pre>` "" $content -}}
  {{- $content = replaceRE `(?s)<table[^>]*>.*?</table>` "" $content -}}
  {{- $content = replaceRE `(?s)<figure[^>]*>.*?</figure>` "" $content -}}
  {{- $content = replaceRE `(?s)<svg[^>]*>.*?</svg>` "" $content -}}
  {{- $content = replaceRE `(?s)<div class="code-block">.*?</div>\s*</div>` "" $content -}}
  {{- $words := countwords ($content | plainify) -}}
  {{- div (add $words 119) 238 }} min read
{{- end -}}
